# EPSY 5200: Programming for Social Science Researchers
## Assignment 11
### Due Tuesday, December 1 by 2:30pm

#### Problem 0

If you've made it to this document, you likely already did Problem 0 from the readme.  But just in case, here it is again!

a) Let's watch some videos! I recommend all the videos in this series (for future learning), but we will just focus on two now. Watch the first half of this video (https://www.youtube.com/watch?v=_NrSWLQsDL4&list=PLRqwX-V7Uu6ZF9C0YMKuns9sLDzK6zoiV&index=3) -- just the part about forking, you can ignore pull requests!  Then watch this video:
https://www.youtube.com/watch?v=yXT1ElMEkW8&list=PLRqwX-V7Uu6ZF9C0YMKuns9sLDzK6zoiV&index=6 (you don't have to do the terminal git commands, you can use the clone strategy we used in class)

b) Using what you learned in 0a, **fork** my GitHub repository (remote repo) to your own account, then **clone** to your hard drive (local repo) using GitKraken (or use the command-line if you want the extra challenge).  After finishing EACH problem below, make sure to STAGE and COMMIT with a comment (e.g., "Just finished Part 1! Git is fun!" or whatever).  Then PUSH back to GitHub.

###### Note on privacy!

By default, GitHub repos are public (promoting open source sharing of code), but of course you are more than welcome to make your code for this assignment private, as is your right!  Unfortunately, it's a little bit complicated because GitKraken recently made a change that the free version of their software doesn't allow for private repo access, and you need the paid version.  So here are 3 ways to do this privately:

1) GitKraken partners with GitHub to provide a free pack of resources (including the pro version of GitKraken) for *students*.  That's you!  So you can sign up here *only if you want to do this*: https://education.github.com/pack?utm_source=github+gitkraken

2) Just keep your GitHub repo public while you're working on this project.  Use free GitKraken.  Then switch the GitHub repo to Private only when you're done using GitKraken to push to GitHub.

3) Keep the repo private and use the terminal git commands in the YouTube video for Problem 0a.

To make the repo private:
On your GitHub repo, go to Settings > Manage Access > Manage (under Public Repository) > Change Visibility.  Then add me (jkbye) as a 'collaborator' so I can see it: Settings > Manage Access > Invite a Collaborator (green button) > add 'jkbye'.

#### Problem 1

Now let's get to Jupyter!

a) Import any helpful libraries in this Jupyter Notebook.

b) Load the *MA_Public_Schools_2017.csv* file as a pandas data frame.  Note: these data are from Kaggle: https://www.kaggle.com/ndalziel/massachusetts-public-schools-data and I have already removed a lot of columns.

c) Adapt the example code in the chunk below to replace all spaces in column names with underscores. This is good practice in order to not cause problems with functions that don't allow spaces in variable names (e.g., **smf.ols**).

d) Adapt the code from 1c to replace "%" sign with "Perc", because it is also good practice not to start column names with symbols.

e) Find the descriptives for numeric columns.

f) Commit your changes and push to GitHub!

In [97]:
# Problem 1 code here (can split into multiple code chunks if you want)
import pandas as pd

school_data = pd.read_csv('MA_Public_Schools_2017.csv')
print(school_data)

# starter code for 1c -- replace school_data w/ your dataframe name
school_data.columns = school_data.columns.str.replace(' ', '_') # notice this replaces the 1st argument w/ the 2nd
print(school_data.columns)

# replace % with Perc
school_data.columns = school_data.columns.str.replace('%','Perc')
print(school_data.columns)


# subset columns with numeric data
num_school_data = (school_data[['PK_Enrollment','K_Enrollment',
       '1_Enrollment', '2_Enrollment', '3_Enrollment', '4_Enrollment',
       '5_Enrollment', '6_Enrollment', '7_Enrollment', '8_Enrollment',
       '9_Enrollment', '10_Enrollment', '11_Enrollment', '12_Enrollment',
       'SP_Enrollment', 'Perc_First_Language_Not_English',
       'Perc_English_Language_Learner', 'Perc_Students_With_Disabilities',
       'Perc_High_Needs', 'Perc_Economically_Disadvantaged',
       'Perc_African_American', 'Perc_Asian', 'Perc_Hispanic', 'Perc_White',
       'Perc_Native_American', 'Perc_Native_Hawaiian,_Pacific_Islander',
       'Perc_Multi-Race,_Non-Hispanic', 'Perc_Males', 'Perc_Females',
       'Average_Class_Size', 'Number_of_Students', 'Salary_Totals',
       'Average_Salary', 'FTE_Count', 'In-District_Expenditures',
       'Total_In-district_FTEs', 'Average_In-District_Expenditures_per_Pupil',
       'Total_Expenditures', 'Total_Pupil_FTEs',
       'Average_Expenditures_per_Pupil']])
print(num_school_data)

# descriptive statistics for numeric data
desc_school_data = (num_school_data).describe()
print(desc_school_data)

#finished problem 1

      School Code                                        School Name  \
0           10505                                      Abington High
1           10003                     Beaver Brook Elementary School
2           10002                           Center Elementary School
3           10405                               Frolio Middle School
4           10015                        Woodsdale Elementary School
...           ...                                                ...
1856     35060505     Pioneer Charter School of Science II (PCSS-II)
1857     35100205             Springfield Preparatory Charter School
1858     39020900  TEC Connections Academy Commonwealth Virtual S...
1859     35050405            UP Academy Charter School of Dorchester
1860     35120305           UP Academy Charter School of Springfield

         School Type          Town State  \
0      Public School      Abington    MA
1      Public School      Abington    MA
2      Public School      Abington    MA
3      Public School      Abington    MA
4      Public School      Abington    MA
...              ...           ...   ...
1856  Charter School        Saugus    MA
1857  Charter School   Springfield    MA
1858   Public School  East Walpole    MA
1859  Charter School        Boston    MA
1860  Charter School        Boston    MA

                                      Grade  \
0                               09,10,11,12
1                               01,02,03,04
2                                      PK,K
3                                     07,08
4                                     05,06
...                                     ...
1856                      07,08,09,10,11,12
1857                                K,01,02
1858  K,01,02,03,04,05,06,07,08,09,10,11,12
1859           PK,K,01,02,03,04,05,06,07,08
1860                               06,07,08

                                          District Name  District Code  \
0                                              Abington          10000
1                                              Abington          10000
2                                              Abington          10000
3                                              Abington          10000
4                                              Abington          10000
...                                                 ...            ...
1856  Pioneer Charter School of Science II (PCSS-II)...       35060000
1857  Springfield Preparatory Charter School (District)       35100000
1858  TEC Connections Academy Commonwealth Virtual S...       39020000
1859  UP Academy Charter School of Dorchester (Distr...       35050000
1860  UP Academy Charter School of Springfield (Dist...       35120000

      PK_Enrollment  K_Enrollment  ...  Number of Students  Salary Totals  \
0                 0             0  ...               451.0      9489496.0
1                 0             0  ...               643.0      9489496.0
2                69           134  ...               208.0      9489496.0
3                 0             0  ...               342.0      9489496.0
4                 0             0  ...               334.0      9489496.0
...             ...           ...  ...                 ...            ...
1856              0             0  ...               267.0            NaN
1857              0            54  ...               108.0            NaN
1858              0            20  ...              1014.0            NaN
1859             52            65  ...               655.0            NaN
1860              0             0  ...                 NaN            NaN

      Average Salary  FTE Count  In-District Expenditures  \
0            74662.0      127.0               23365711.18
1            74662.0      127.0               23365711.18
2            74662.0      127.0               23365711.18
3            74662.0      127.0               23365711.18
4            74662.0      127.0               23365711.18
...              ...        ...                       ...
1856             NaN        NaN                       NaN
1857             NaN        NaN                       NaN
1858             NaN        NaN                       NaN
1859             NaN        NaN                       NaN
1860             NaN        NaN                       NaN

      Total In-district FTEs  Average In-District Expenditures per Pupil  \
0                     1939.0                                    12050.39
1                     1939.0                                    12050.39
2                     1939.0                                    12050.39
3                     1939.0                                    12050.39
4                     1939.0                                    12050.39
...                      ...                                         ...
1856                     NaN                                         NaN
1857                     NaN                                         NaN
1858                     NaN                                         NaN
1859                     NaN                                         NaN
1860                     NaN                                         NaN

      Total Expenditures  Total Pupil FTEs  Average Expenditures per Pupil
0             27229100.8            2051.8                        13270.84
1             27229100.8            2051.8                        13270.84
2             27229100.8            2051.8                        13270.84
3             27229100.8            2051.8                        13270.84
4             27229100.8            2051.8                        13270.84
...                  ...               ...                             ...
1856                 NaN               NaN                             NaN
1857                 NaN               NaN                             NaN
1858                 NaN               NaN                             NaN
1859                 NaN               NaN                             NaN
1860                 NaN               NaN                             NaN

[1861 rows x 48 columns]
Index(['School_Code', 'School_Name', 'School_Type', 'Town', 'State', 'Grade',
       'District_Name', 'District_Code', 'PK_Enrollment', 'K_Enrollment',
       '1_Enrollment', '2_Enrollment', '3_Enrollment', '4_Enrollment',
       '5_Enrollment', '6_Enrollment', '7_Enrollment', '8_Enrollment',
       '9_Enrollment', '10_Enrollment', '11_Enrollment', '12_Enrollment',
       'SP_Enrollment', '%_First_Language_Not_English',
       '%_English_Language_Learner', '%_Students_With_Disabilities',
       '%_High_Needs', '%_Economically_Disadvantaged', '%_African_American',
       '%_Asian', '%_Hispanic', '%_White', '%_Native_American',
       '%_Native_Hawaiian,_Pacific_Islander', '%_Multi-Race,_Non-Hispanic',
       '%_Males', '%_Females', 'Average_Class_Size', 'Number_of_Students',
       'Salary_Totals', 'Average_Salary', 'FTE_Count',
       'In-District_Expenditures', 'Total_In-district_FTEs',
       'Average_In-District_Expenditures_per_Pupil', 'Total_Expenditures',
       'Total_Pupil_FTEs', 'Average_Expenditures_per_Pupil'],
      dtype='object')
Index(['School_Code', 'School_Name', 'School_Type', 'Town', 'State', 'Grade',
       'District_Name', 'District_Code', 'PK_Enrollment', 'K_Enrollment',
       '1_Enrollment', '2_Enrollment', '3_Enrollment', '4_Enrollment',
       '5_Enrollment', '6_Enrollment', '7_Enrollment', '8_Enrollment',
       '9_Enrollment', '10_Enrollment', '11_Enrollment', '12_Enrollment',
       'SP_Enrollment', 'Perc_First_Language_Not_English',
       'Perc_English_Language_Learner', 'Perc_Students_With_Disabilities',
       'Perc_High_Needs', 'Perc_Economically_Disadvantaged',
       'Perc_African_American', 'Perc_Asian', 'Perc_Hispanic', 'Perc_White',
       'Perc_Native_American', 'Perc_Native_Hawaiian,_Pacific_Islander',
       'Perc_Multi-Race,_Non-Hispanic', 'Perc_Males', 'Perc_Females',
       'Average_Class_Size', 'Number_of_Students', 'Salary_Totals',
       'Average_Salary', 'FTE_Count', 'In-District_Expenditures',
       'Total_In-district_FTEs', 'Average_In-District_Expenditures_per_Pupil',
       'Total_Expenditures', 'Total_Pupil_FTEs',
       'Average_Expenditures_per_Pupil'],
      dtype='object')
      PK_Enrollment  K_Enrollment  1_Enrollment  2_Enrollment  3_Enrollment  \
0                 0             0             0             0             0
1                 0             0           125           164           148
2                69           134             0             0             0
3                 0             0             0             0             0
4                 0             0             0             0             0
...             ...           ...           ...           ...           ...
1856              0             0             0             0             0
1857              0            54            54            55             0
1858              0            20            27            31            36
1859             52            65            72            70            97
1860              0             0             0             0             0

      4_Enrollment  5_Enrollment  6_Enrollment  7_Enrollment  8_Enrollment  \
0                0             0             0             0             0
1              143             0             0             0             0
2                0             0             0             0             0
3                0             0             0           159           169
4                0           180           173             0             0
...            ...           ...           ...           ...           ...
1856             0             0             0            77            75
1857             0             0             0             0             0
1858            33            40            74            90           130
1859            99            89            77            73            50
1860             0             0             0             0             0

      ...  Number_of_Students  Salary_Totals  Average_Salary  FTE_Count  \
0     ...               451.0      9489496.0         74662.0      127.0
1     ...               643.0      9489496.0         74662.0      127.0
2     ...               208.0      9489496.0         74662.0      127.0
3     ...               342.0      9489496.0         74662.0      127.0
4     ...               334.0      9489496.0         74662.0      127.0
...   ...                 ...            ...             ...        ...
1856  ...               267.0            NaN             NaN        NaN
1857  ...               108.0            NaN             NaN        NaN
1858  ...              1014.0            NaN             NaN        NaN
1859  ...               655.0            NaN             NaN        NaN
1860  ...                 NaN            NaN             NaN        NaN

      In-District_Expenditures  Total_In-district_FTEs  \
0                  23365711.18                  1939.0
1                  23365711.18                  1939.0
2                  23365711.18                  1939.0
3                  23365711.18                  1939.0
4                  23365711.18                  1939.0
...                        ...                     ...
1856                       NaN                     NaN
1857                       NaN                     NaN
1858                       NaN                     NaN
1859                       NaN                     NaN
1860                       NaN                     NaN

      Average_In-District_Expenditures_per_Pupil  Total_Expenditures  \
0                                       12050.39          27229100.8
1                                       12050.39          27229100.8
2                                       12050.39          27229100.8
3                                       12050.39          27229100.8
4                                       12050.39          27229100.8
...                                          ...                 ...
1856                                         NaN                 NaN
1857                                         NaN                 NaN
1858                                         NaN                 NaN
1859                                         NaN                 NaN
1860                                         NaN                 NaN

      Total_Pupil_FTEs  Average_Expenditures_per_Pupil
0               2051.8                        13270.84
1               2051.8                        13270.84
2               2051.8                        13270.84
3               2051.8                        13270.84
4               2051.8                        13270.84
...                ...                             ...
1856               NaN                             NaN
1857               NaN                             NaN
1858               NaN                             NaN
1859               NaN                             NaN
1860               NaN                             NaN

[1861 rows x 40 columns]
       PK_Enrollment  K_Enrollment  1_Enrollment  2_Enrollment  3_Enrollment  \
count    1861.000000   1861.000000   1861.000000   1861.000000   1861.000000
mean       15.837722     35.535196     36.629232     37.518538     38.584632
std        37.784512     44.632989     42.732414     43.842672     46.541783
min         0.000000      0.000000      0.000000      0.000000      0.000000
25%         0.000000      0.000000      0.000000      0.000000      0.000000
50%         0.000000     17.000000     22.000000     20.000000     16.000000
75%        15.000000     64.000000     66.000000     68.000000     71.000000
max       560.000000    557.000000    245.000000    250.000000    319.000000

       4_Enrollment  5_Enrollment  6_Enrollment  7_Enrollment  8_Enrollment  \
count   1861.000000   1861.000000   1861.000000   1861.000000   1861.000000
mean      38.717356     38.089199     37.879635     38.543794     38.540570
std       48.915559     55.040382     75.304290     81.320657     82.048832
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%       16.000000      0.000000      0.000000      0.000000      0.000000
75%       70.000000     66.000000     45.000000     22.000000     20.000000
max      446.000000    487.000000    490.000000    511.000000    644.000000

       ...  Number_of_Students  Salary_Totals  Average_Salary    FTE_Count  \
count  ...         1823.000000   1.769000e+03     1769.000000  1769.000000
mean   ...          523.515634   5.625178e+07    74036.641040   707.853024
std    ...          357.861705   9.335788e+07     7990.377315  1065.807405
min    ...            2.000000   5.534000e+04    34588.000000     2.000000
25%    ...          306.500000   1.215839e+07    68572.000000   166.000000
50%    ...          445.000000   2.269741e+07    73471.000000   308.000000
75%    ...          634.500000   4.808571e+07    78256.000000   627.000000
max    ...         4327.000000   3.838662e+08   100731.000000  4323.000000

       In-District_Expenditures  Total_In-district_FTEs  \
count              1.768000e+03             1768.000000
mean               1.518097e+08             9376.335633
std                2.661339e+08            14015.732845
min                6.975500e+05               38.400000
25%                3.061598e+07             2312.150000
50%                5.293331e+07             4205.300000
75%                1.287478e+08             7700.400000
max                1.093104e+09            56858.800000

       Average_In-District_Expenditures_per_Pupil  Total_Expenditures  \
count                                  1768.00000        1.768000e+03
mean                                  14573.85582        1.731198e+08
std                                    2940.80342        3.093057e+08
min                                    9451.51000        1.132413e+06
25%                                   12785.25000        3.353242e+07
50%                                   13599.49000        5.863741e+07
75%                                   15478.08000        1.335444e+08
max                                   38780.85000        1.269580e+09

       Total_Pupil_FTEs  Average_Expenditures_per_Pupil
count       1768.000000                     1768.000000
mean       10466.072624                    15038.254949
std        16287.467986                     2743.977057
min           82.800000                    10399.970000
25%         2442.900000                    13339.700000
50%         4392.000000                    14137.480000
75%         8378.900000                    15900.290000
max        65964.600000                    30505.050000

[8 rows x 40 columns]

#### Problem 2

a) Remove the District Code column.

b) Create a new column called "TOTAL_Enrollment" that is the sum of all columns that end in "Enrollment".

c) Compute the mean of "TOTAL_Enrollment" for each District. (Hint: groupby)

d) Commit your changes and push to GitHub!

In [98]:
# Problem 2 code here (can split into multiple code chunks if you want)
print(school_data.columns)

# remove district code column
school_data.pop('District_Code')

# just checking to make sure the column was removed
print(school_data.columns)

Index(['School_Code', 'School_Name', 'School_Type', 'Town', 'State', 'Grade',
       'District_Name', 'District_Code', 'PK_Enrollment', 'K_Enrollment',
       '1_Enrollment', '2_Enrollment', '3_Enrollment', '4_Enrollment',
       '5_Enrollment', '6_Enrollment', '7_Enrollment', '8_Enrollment',
       '9_Enrollment', '10_Enrollment', '11_Enrollment', '12_Enrollment',
       'SP_Enrollment', 'Perc_First_Language_Not_English',
       'Perc_English_Language_Learner', 'Perc_Students_With_Disabilities',
       'Perc_High_Needs', 'Perc_Economically_Disadvantaged',
       'Perc_African_American', 'Perc_Asian', 'Perc_Hispanic', 'Perc_White',
       'Perc_Native_American', 'Perc_Native_Hawaiian,_Pacific_Islander',
       'Perc_Multi-Race,_Non-Hispanic', 'Perc_Males', 'Perc_Females',
       'Average_Class_Size', 'Number_of_Students', 'Salary_Totals',
       'Average_Salary', 'FTE_Count', 'In-District_Expenditures',
       'Total_In-district_FTEs', 'Average_In-District_Expenditures_per_Pupil',
       'Total_Expenditures', 'Total_Pupil_FTEs',
       'Average_Expenditures_per_Pupil'],
      dtype='object')
Index(['School_Code', 'School_Name', 'School_Type', 'Town', 'State', 'Grade',
       'District_Name', 'PK_Enrollment', 'K_Enrollment', '1_Enrollment',
       '2_Enrollment', '3_Enrollment', '4_Enrollment', '5_Enrollment',
       '6_Enrollment', '7_Enrollment', '8_Enrollment', '9_Enrollment',
       '10_Enrollment', '11_Enrollment', '12_Enrollment', 'SP_Enrollment',
       'Perc_First_Language_Not_English', 'Perc_English_Language_Learner',
       'Perc_Students_With_Disabilities', 'Perc_High_Needs',
       'Perc_Economically_Disadvantaged', 'Perc_African_American',
       'Perc_Asian', 'Perc_Hispanic', 'Perc_White', 'Perc_Native_American',
       'Perc_Native_Hawaiian,_Pacific_Islander',
       'Perc_Multi-Race,_Non-Hispanic', 'Perc_Males', 'Perc_Females',
       'Average_Class_Size', 'Number_of_Students', 'Salary_Totals',
       'Average_Salary', 'FTE_Count', 'In-District_Expenditures',
       'Total_In-district_FTEs', 'Average_In-District_Expenditures_per_Pupil',
       'Total_Expenditures', 'Total_Pupil_FTEs',
       'Average_Expenditures_per_Pupil'],
      dtype='object')

In [106]:
#Problem 2 cont.

# sum up all the enrollment numbers for all grades for each school
school_data['Total_Enrollment'] = school_data.iloc[:, 7:21].sum(axis=1)
# I cannot remember if we covered axis=0 (x) and axis=1 (y) in this class or the other one I'm taking this semester.
# I don't know if we learned this specific way to get a sum but I found this solution on stack overflow; otherwise
# I would have typed school.data['PK_Enrollment'] + school_data['K_Enrollment'] + ...

print(school_data.columns)
print(school_data.Total_Enrollment) # to check against Excel spreadsheet totals

# compute mean enrollment, group by school district
print(school_data.groupby('District_Name').mean()['Total_Enrollment'])
# I copied this code from our in-class work on Nov. 11 and I'm not entirely sure why it works--I think groupby
# indicates what the divisor should be in calculating the mean?

Index(['School_Code', 'School_Name', 'School_Type', 'Town', 'State', 'Grade',
       'District_Name', 'PK_Enrollment', 'K_Enrollment', '1_Enrollment',
       '2_Enrollment', '3_Enrollment', '4_Enrollment', '5_Enrollment',
       '6_Enrollment', '7_Enrollment', '8_Enrollment', '9_Enrollment',
       '10_Enrollment', '11_Enrollment', '12_Enrollment', 'SP_Enrollment',
       'Perc_First_Language_Not_English', 'Perc_English_Language_Learner',
       'Perc_Students_With_Disabilities', 'Perc_High_Needs',
       'Perc_Economically_Disadvantaged', 'Perc_African_American',
       'Perc_Asian', 'Perc_Hispanic', 'Perc_White', 'Perc_Native_American',
       'Perc_Native_Hawaiian,_Pacific_Islander',
       'Perc_Multi-Race,_Non-Hispanic', 'Perc_Males', 'Perc_Females',
       'Average_Class_Size', 'Number_of_Students', 'Salary_Totals',
       'Average_Salary', 'FTE_Count', 'In-District_Expenditures',
       'Total_In-district_FTEs', 'Average_In-District_Expenditures_per_Pupil',
       'Total_Expenditures', 'Total_Pupil_FTEs',
       'Average_Expenditures_per_Pupil', 'Total_Enrollment'],
      dtype='object')
0        448
1        580
2        203
3        328
4        353
        ...
1856     322
1857     163
1858    1119
1859     744
1860       0
Name: Total_Enrollment, Length: 1861, dtype: int64
District_Name
Abby Kelley Foster Charter Public (District)            1425.000000
Abington                                                 382.400000
Academy Of the Pacific Rim Charter Public (District)     527.000000
Acton-Boxborough                                         620.777778
Acushnet                                                 477.500000
                                                           ...
Winthrop                                                 492.750000
Woburn                                                   420.727273
Worcester                                                564.622222
Worthington                                               60.000000
Wrentham                                                 515.500000
Name: Total_Enrollment, Length: 410, dtype: float64

#### Problem 3

a) Visualize each bivariate relationship among Average_Class_Size, Average_Salary, Perc_Economically_Disadvantaged, and Perc_English_Language_Learner.  Use the Seaborn function **pairplot**.  The argument to `pairplot` should be `school_data[['Average_Class_Size', 'Average_Salary', 'Perc_Economically_Disadvantaged', 'Perc_English_Language_Learner']]`, which will just pull those columns out from the full data frame.

b) Describe what you see from the plots.

c) Based on your observations from 3b, and as a completely post-hoc, exploratory analysis, choose one of the 4 measures from 3a to be an outcome variable, and a second measure to be a predictor variable.  Then run a linear regression, print the *summary*, and write a sentence interpreting the results (does not need to be detailed, just practice retrieving the relevant info on predictor significance, etc.)

d) Commit your changes and push to GitHub!

In [ ]:
# Problem 3 code here (can split into multiple code chunks if you want)

#### Problem 4

a) Create a new linear regression model that takes the model from 3c and adds both of the remaining variables from 3a as additional predictor variables.  To do this, the formula interface would look like `"outcome_name ~ predictor1_name + predictor2_name + predictor3_name"`

b) Print the summary from 4a, and write a short interpretation of the results, especially comparing it to Problem 3c.  

c) Add School_Type as another predictor to your model.  Interpret the new predictor in your output.  How is it different from the other predictors?

d) Commit your changes and push to GitHub!

In [ ]:
# Problem 4 code here (can split into multiple code chunks if you want)

#### Problem 5

a) Adapt your **pairplot** code from 3a to add the following argument:
`hue="School_Type"`

b) Describe what changes in the pairplots, and what it represents.

c) Commit your changes and push to GitHub!

In [ ]:
# Problem 5 code here (can split into multiple code chunks if you want)

#### Problem 6

a) Save this Jupyter notebook as an HTML file (File > Download As > HTML) into your local repository (this folder). By default, Jupyter may put your HTML file in your default Downloads folder (wherever that is) -- if that happens, just manually move the file into this repo folder.

b) Stage, commit, and push all changes to your GitHub repository.

c) Submit a link to your repository as your submission for the assignment on Canvas. Remember the note from Problem 0: you can keep your repo private and add me as a collaborator.